.bto-tabela {
    margin-top: 2rem;
}

.bto-form {
    margin: 1rem 0 8rem;
}

.botao {
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    
    border: none;
    border-radius: 0.5rem;

    background: #1E90FF;
    color: white;
    cursor: pointer;
    transition: background-color 200ms;
}

.botao:hover {
    background: #1A70FF;
    box-shadow: 0.1rem 0.2rem 1rem #1A70FF;
}