.form-container h2 {
    margin: 4rem 0 1.5rem;
    display: flex;
    align-items: center;
}

.form-container {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.form-container .ent-nome {
    width: 100%;
}

.entradas-form {
    display: inline-block;
    margin-bottom: 1.5rem;
    width: 49%;
}

.entradas-form label {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.ent-peso {
    margin-right: 1.2rem;
}

.entradas-form input {
    width: 100%;
    padding: 1.2rem 1.2rem;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 1rem #ccc;
}

.ent-nome input {
    width: 100%;
}

ul {
    margin: 2rem 0;
}

li {
    list-style-type: none;
}

