* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-size: 62.5%;
}

header {
    background: #333;
    color: #ffffff;
    height: 10rem;
    margin-bottom: 4rem;
}

.table-container label {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 0.5rem 2rem;
}

.filtra-paciente {
    margin: 0 2rem 2rem 2rem;
    width: 40%;
    padding: 1.2rem 1.2rem;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
}

body, section {
    font-size: 1.4rem;
    font-family: "Nunito", sans-serif;
    background: rgb(255, 255, 245);
}

#header-container {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 5rem;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

section h2 {
    font-size: 3rem;
    background: #ccc;
    padding: 2rem;
    border: 1px solid #ccc;
}

.fade-out {
    color: red;
    font-weight: bold;
    transition: 1000ms;
}

.invisivel {
    display: none;
}

.bto-tabela {
    margin-top: 2rem;
}

.msg-erro-busca {
    margin-left: 2rem;
    font-size: clamp(1.4rem 1.6rem 1.6rem);
}