* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body, html {
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 240);
    font-family: 'Ubuntu';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    background: #4c4c4c;
    color: rgb(255, 255, 240);
    font-size: clamp(1rem, 4vh, 5rem);
}

main {
    width: 100%;
    height: 85.8vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.calc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 60%;
    padding-bottom: 1px;
    background: #4c4c4c;
    box-shadow: 5px 5px 10px #aaa;
}

.calc-table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    text-align: center;
}

.display {
    width: 100%;
    height: 6rem;
}

.display-number, .display-result {
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 0 2rem;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Ubuntu';    
    border: none;
    color: rgb(255, 255, 240);
    background: #4c4c4c;
}

.display-number {
    font-size: 2.5rem;
    font-weight: normal;
    color: #cccccc;
}

tbody td {
    width: 25%;
}

.button {
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
    font-family: 'Ubuntu';
}

.pattern {
    background: #dddddd;
    color: #4c4c4c;
    transition: background 200ms;
}

.pattern:hover {
    background: #eeeeee;
}

.pattern:active {
    color: #808080;
    font-family: 'Ubuntu';
}

.operator {
    background: #ef913c;
    transition: 200ms;
}

.operator:hover {
    background: #fab477;
}

.pattern:focus, .operator:focus, 
.display-number:focus, .display-result:focus {
    outline: none;
}